<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">

        <div class="mb-3 mt-3">
          <input type="text" class="form-control" formControlName="firstName" placeholder="firstName">
          <div *ngIf="this.registerForm.controls['firstName'].invalid && isFormSubmit" class="text-danger text-right">
            <div *ngIf="this.registerForm.controls['firstName'].errors?.['required']">
              <Small>Please enter firstName</Small>
            </div>
            <div *ngIf="this.registerForm.controls['firstName'].errors?.['pattern']">
              <Small>please enter characters only and no space between two charaters. </Small>

            </div>


          </div>
        </div>
        <div class="mb-3 mt-3">
          <input type="text" class="form-control" formControlName="lastName" placeholder="lastName">
          <div *ngIf="this.registerForm.controls['lastName'].invalid && isFormSubmit" class="text-danger text-right">
            <div *ngIf="this.registerForm.controls['lastName'].errors?.['required']">
              <Small>Please enter lastName</Small>
            </div>
            <div *ngIf="this.registerForm.controls['lastName'].errors?.['pattern']">
              <Small>please enter characters only and no space between two charaters </Small>

            </div>

          </div>
        </div>

        <div class="mb-3 mt-3">
          <input type="text" class="form-control" formControlName="email" placeholder="email">
          <div *ngIf="this.registerForm.controls['email'].invalid && isFormSubmit" class="text-danger text-right">
            <div *ngIf="this.registerForm.controls['email'].errors?.['required']">
              <Small>Please enter registered email id</Small>
            </div>
            <div *ngIf="this.registerForm.controls['email'].errors?.['email']">
              <Small>Must use @.com characters </Small>
            </div>

          </div>
        </div>
        <div class="mb-3 mt-3">
          <input type="number" class="form-control" formControlName="contactNo" placeholder="contactNo">


          <div *ngIf="this.registerForm.controls['contactNo'].invalid && isFormSubmit" class="text-danger text-right">
            <div *ngIf="this.registerForm.controls['contactNo'].errors?.['required']">
              <Small>Please enter contactNo</Small>

            </div>
            <div *ngIf="this.registerForm.controls['contactNo'].errors?.['pattern']">
              <Small>It should be 10 digit number</Small>

            </div>

          </div>
        </div>





        <div class="form-group">
          <input type="checkbox" id="scales" name="scales" checked>
          <label for="scales">I am Reboot</label>
        </div>

        <div class="form-group">
          <button class="btn btn-primary">
            Register
          </button>

          <app-code [codeForm] ="data"></app-code>

        </div>




      </form>
      <!-- <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerlink="/">registerForm</a>
        </li>


      </ul> -->
      <router-outlet></router-outlet>
      


    </div>
  </div>
</div>